.search-bar-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}
.search-bar-cont .search-bar {
  height: 33px;
  width: 50vw;
  border-radius: 6px;
  outline: none;
  border: 1.5px solid gray;
}
.search-bar-cont .submit-but {
  background-color: #3f3f41;
  color: white;
  border-radius: 20px;
  margin-left: 20px;
  width: 75px;
  font-size: 16px;
  outline: none;
  border: 0;
}
.search-bar-cont .submit-but:hover {
  cursor: pointer;
  background-color: gray;
}

.country-weather {
  font-weight: bold;
  font-size: 30px;
}

.page {
  display: flex;
  justify-content: center;
  
}

.day-forecast {
  font-weight: bold;
}

.country {
  margin-right: 200px;
}